

.contact-form {
  form {
    margin-top: 25px;
  }

  input,
  textarea {
    font-family: inherit;
    font-style: italic;
    background-color: rgba(235, 224, 255, 0.7);
    padding-left: 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(235, 224, 255);
  }

  button {
    margin-top: 25px;
    width: 15%;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    border: 3px solid rgb(235, 224, 255);
    background-color: rgba(235, 224, 255, 0.7);
  }

  input {
    width: 80%;
    height: 30px;
  }

  textarea {
    margin-top: 15px;
    width: 80%;
    height: 165px;
  }

  form div {
    align-items: center;
    width: 80%;
    margin: 7px 0;

    justify-content:  space-between;
    label {
      min-width: 73px;
      padding-right: 15px;
    }
  }
}

  .contact-container {
    flex-direction: column;
    align-items: center;
  }


  .contact-form {
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
  }

  .contact-img img {
    border-radius: 25px 25px 0 0;
  }

  @media screen and (min-width: 950px){
    .contact-form{
      width: 50%;
      margin: auto;
    }
  }

